<% @batch.students.each do |student| %>
  <div class="student">
    <div class="student-img"><img src="<%= student.image_url %>"/></div>
    <div class="student-info">
      <h3 class="student-name"><%= student.name %></h3>
      <h4 class="student-batch">Studied in <%= student.batch.name %></div>
      <!--<p class="student-description"><%= student.description %></p>-->
    <hr>
    <div class="student-footer">
      <ul>
        <li><%= link_to "LinkedIn", student.linkedin_url %></li>
        <li><%= link_to "Portfolio", student.portfolio_url %></li>
        <li><%= link_to "GitHub", "https://github.com/#{student.github}" %></li>
      </ul>
      <div class="student-availability">This student is <%= (student.available ? "available" : "unavailable")%></div>
      <div class="go-to-profile"><%= link_to "Find out more", student_path(student) %></div>
    </div>

</div>
<% end %>
