<!-- <p id="notice"><%= notice %></p> -->
<h1 class="banner"><%= @batch.name %></h1>
<div class="batch-show">
  <div class="image"><%= image_tag @batch.image_url %></div>
  <div class="batch-description">
    <%= @batch.description %>
  </div>
</div>

<div class="students_per_batch">
  <h2>Students:</h2>
  <%= render 'students' %>

</div>
